node*modules
.env
.env.*
.git
.gitignore
README.md
docs/
uml/
coverage/
\_.log
.nyc_output/
.eslintcache
.prettierrc
.eslintrc*
Dockerfile*
docker-compose\*.yml
heroku.yml
Procfile
app.json
prometheus.yml
grafana-storage/
test/
!dist/
